
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tests/Makefile
tests/Makefile.in
tests/close_window/Makefile
tests/close_window/Makefile.in
*~
autom4te.cache/
